<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Test</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"/>

    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css"/>
    <link href="../../../resources/css/all.css" rel="stylesheet" media="screen" th:href="@{/resources/css/all.css}"/>
</head>
<body>
<!--<header>-->
    <div th:include="fragments/header :: header1">
    </div>
    <!--<h1>Чебурашка и крокодил Гена</h1>-->
<!--</header>-->
<!--<nav class="nav">
    <a href="test.html">Test1</a> |
    <a href="test.html">Test2</a> |
    <a href="test.html">Test3</a>
</nav>
<div class="test-div">

    &lt;!&ndash; several lines bellow working &ndash;&gt;
    <img src="../../../resources/images/award.png"
         th:src="@{/resources/images/award.png}"
         rel="stylesheet"
         media="screen"/>
    <dl>
        <dt>Product name</dt>
         &lt;!&ndash; value bellow you can see on pages !!! Success! &ndash;&gt;
        <dd th:text="${foo.name}">Red Chair</dd>
    </dl>
    <p th:text="${foo.age}">here should be age</p>
</div>-->


<!--<article>
    <h2>Добро пожаловать!</h2>
</article>-->
</body>
</html>